body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(/img/background.jpg);
}

code {
  font-family: 'Courier New', Courier, monospace;
}

.mainWindow {
  display: flex;
  flex-direction: column;
}

.mainTitle {
  display: flex;
  justify-content: center;
  margin: 3rem;
}